* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.siteheader {
  display: flex;
  justify-content: stretch;
  align-items: center;
  border: 3px solid black;
  margin: 10px;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
  margin-left: auto;
}

.navbar > ul {
  display: flex;
  list-style: none;
  color: #000;
  margin: 0 10px;
  padding: 0;
}

.navbar > ul > li {
  margin: 0 5px;
  padding: 7px;
  border-right: 2px solid #000;
}

.nav-link {
  color: #000;
  text-decoration: none;
  padding: 8px;
  margin: auto;
}

.list-section {
  width: 96%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
}

.list {
  width: 90%;
  height: auto;
  border: 2px solid #000;
  background: #fff;
}

h2 {
  padding: 20px;
  margin: auto;
}

.rows {
  border: 2px solid #ddd;
}

.add-book {
  width: 60%;
  height: auto;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

#form1 {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-items: center;
  flex-direction: column;
}

#form1 input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

#form1 > .btn {
  align-self: flex-end;
  font-size: 18px;
  padding: 5px 10px;
}

table {
  border: 1px solid #ddd;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 90%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

td {
  width: 500px;
}

td.test {
  text-align: right;
}

tr:nth-child(even) {
  background-color: #ddd;
  color: black;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  font-size: 20px;
  border: 1px solid green;
}

.hidden {
  display: none;
}

.footer {
  display: flex;
  justify-content: stretch;
  align-items: center;
  border: 3px solid black;
  margin: 10px;
}

@media (max-width: 768px) {
  table {
    border: 1px solid #ddd;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  #form1 {
    width: 100%;
    height: auto;
  }

  #form1 .btn {
    padding: 10px 20px;
    align-self: center;
  }
}
