* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    height: auto;
    margin: 0 auto;
    border: 2px solid #000;
}

.navbar {
    border: 2px solid green;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.navbar > ul {
    display: flex;
    list-style: none;
    color: #000;
}

.navbar > ul > li {
    margin: 0 5px;
    padding: 10px;
    border-right: 2px solid #000;

}

.nav-link {
    color: #000;
    text-decoration: none;
}

.list-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    width: 100%;
    height: auto;
    margin: 20px 0;
    border: 2px solid #000;
    background: #fff;
}

.book-info:nth-child(odd) {
    background: lightgray;
}

.book-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #000;
    padding: 5px;
}

.add-book {
    width: 100%;
    height: 200px;
    margin: 20px 0;
    border: 2px solid #000;
}
.removebook {
  width: 100px;
  padding: 5px 15px;
}