* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border: 2px solid #000;
}

.navbar {
  border: 2px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar > ul {
  display: flex;
  list-style: none;
  color: #000;
}

.navbar > ul > li {
  margin: 0 5px;
  padding: 10px;
  border-right: 2px solid #000;
}

.nav-link {
  color: #000;
  text-decoration: none;
}

.list-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  width: 100%;
  height: auto;
  margin: 20px 0;
  border: 2px solid #000;
  background: #fff;
}

.book-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  padding: 5px;
}

.book-info:nth-child(odd) {
  background: lightgray;
}

.add-books {
  width: 40%;
  padding: 10px 20px;
  border: 2px solid #000;
  display: flex;
  margin: auto;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
  gap: 10px;
}

.form input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.form .btn {
  align-self: flex-end;
  font-size: 18px;
  padding: 5px 10px;
}
